@tailwind components;

.editorjs-wrapper {
    @apply border rounded-xl relative bg-white shadow-sm prose prose-sm dark:prose-invert border-gray-200 dark:bg-gray-900 dark:border-gray-600;
    max-width: unset;
}

.ce-block {
    @apply px-16;
}

.codex-editor__redactor {
    @apply px-3 py-4 !important;
}

.cdx-search-field {
    @apply bg-transparent;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset; /* example value, adjust for your own use case */
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
    @apply dark:text-gray-300 dark:hover:bg-gray-500;
}

.ce-popover {
    @apply dark:bg-gray-800 dark:border-gray-600;
}

.ce-popover-item__icon {
    @apply dark:bg-transparent;
}

.ce-popover-item {
    @apply dark:hover:bg-gray-700 dark:text-white;
}

.ce-code__textarea {
    @apply dark:bg-gray-800 dark:text-white;
}

.ce-settings {
    @apply dark:bg-gray-800 dark:text-white dark:border-gray-500;
}

.ce-settings__button,
.cdx-settings-button {
    @apply dark:text-white dark:hover:bg-gray-500;
}

.cdx-search-field__icon .icon {
    @apply dark:text-white;
}

.cdx-search-field__input {
    @apply dark:text-white dark:placeholder:text-gray-400;
}

.ce-popover__no-found {
    @apply dark:text-gray-400;
}

.ce-inline-toolbar {
    @apply dark:bg-gray-800 dark:border-gray-600;
}

.ce-inline-tool {
    @apply dark:text-white dark:hover:bg-gray-500;
}

.ce-inline-tool-input {
    @apply block w-full transition duration-75 focus:ring-1 focus:ring-inset disabled:opacity-70 dark:bg-gray-700 dark:text-white border-gray-300 dark:border-gray-600;
}

.ce-popover__container {
    @apply dark:bg-gray-800 dark:border-gray-600;
}

.ce-block--stretched {
    @apply px-0;
}

/*
List Item style
*/
.cdx-list {
    @apply pl-[1rem] !important;
}

/*
Header style
*/
h1.ce-header {
    @apply text-4xl font-bold mb-4;
}

h2.ce-header {
    @apply text-3xl font-semibold mb-3;
}

h3.ce-header {
    @apply text-2xl font-medium mb-2;
}

h4.ce-header {
    @apply text-xl font-medium mb-2;
}

h5.ce-header {
    @apply text-lg font-medium mb-1;
}

h6.ce-header {
    @apply text-base font-medium mb-1;
}

/*
Actions alignment
*/
.ce-toolbar__actions {
    right: inherit;
    @apply pr-0 pl-[6px] pt-[1px] !important;
}
